<!-- margin top (mt) - auto will move the footer to the bottem of the page
due to flex.
-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted"> &copy; YelpCamp 2021</span>
    </div>
</footer> 